<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>name: {{one_user.name}}</p>
    <p>username:  {{one_user.username}}</p>
    <p>email:  {{one_user.email}}</p>
    <h2>Favorite Hobbies</h2>
    {% for hobby in one_user.hobbies %}
        <p>{{hobby.activity}}</p>
        <p>{{hobby.exp_level}}</p>
    {% endfor %}
</body>
</html>